/* #mainNavbar{
    background-color: rgb(131, 224, 224);
    height: 7vh;
} */

/* #span1{
    color:white;
    font-size: larger;
} */

/* .dropdown-menu{
    background-color: #282d32;
    color: white;
}  */

/* .navbar.scrolled{
    background: rgb(189, 250, 97);
    transition: background 500ms;
} */