.pchange {
    width: 50vh;
    margin-top: 40vh;
    margin-left: 35vw;
}

.inputHeading {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    margin-bottom: 2vh;
    font-size: medium;
}