.signUpField {
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 3%;
}

.signUpButton {
    align-items: center;
    justify-content: center;
    display: flex;
    margin-top: 3%d;
    /* margin-right: 1vw; */
}

.signUpG {
    margin-left: 1vw;
}