.signInField {
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 3%;
}

.signInButton {
    align-items: center;
    justify-content: center;
    display: flex;
    margin-top: 3%;
}

.signInG {
    margin-left: 1vw;
}

.forgotPassword {
    font-style: italic;
    color: blue;
    margin-top: 1vh;
}
