.postAdd {
    margin-left: 25%;
    margin-top: 15vh;
    padding-bottom: 50px;
}

.postAddContent {
    padding-left: 3vw;
    padding-right: 3vw;
    padding-bottom: 3vw;
}

.heading {
    margin-top: 1vh;
}

.labels {
    margin-top: 2vw;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    /* margin-bottom: 1vw; */
}

.postBtn {
    margin-top: 2vw;
    width: 7vw;
    align-self: center;
}

.sellPage {
    background-color: white;
}