#mainNavbar{
    /* background-color: rgb(131, 224, 224); */
    height: 7vh;
}
/* 
.dropdown-menu{
    background-color: black;
    color: white;
}  */

/* .navbar.scrolled{
    background: rgb(189, 250, 97);
    transition: background 500ms;
} */