.homeCategoryNavbar {
    margin-top: 7vh;
    height: 6vh;
    background-color: wheat;
}

.compostingLink {
    color: black;
    text-decoration: none;
}

.compostingLink:hover {
    color:black;
 }

 .homeCardLink {
    text-decoration: none; 
    color: inherit;
 }

.categoryName {
    text-align: center;
    font-size: 25px;
    font-style: italic;
}

.cardsList {
    margin: 2vh;
}

.card1 {
    cursor: pointer;
}