.travellingNavbar {
    margin-top: 7vh;
    height: 6vh;
    background-color: wheat;
}

.vehicleCardLink {
    color: black;
    text-decoration: none;
}

.vehicleCardLink:hover {
    color:black;
 }

.categoryName {
    text-align: center;
    font-size: 25px;
    font-style: italic;
}

.cardsList {
    margin: 2vh;
}

.card1 {
    cursor: pointer;
}